## Simple question about basic python.

**List od unique elements**

In [1]:
a = [1,2,2,1,3,2,3]

In [2]:
b = list(set(a))
b

[1, 2, 3]

other solution

In [3]:
c = []
for i in a:
    if i not in c:
        c.append(i)
c

[1, 2, 3]

In [4]:
len(c)

3

**Mutable and immutable objects**

What happend?

a  = 'abcdefg'
a[1] = 'X'

Answer: Error because string object is immutable object. For changing second element I can change str to list.

In [5]:
a  = 'abcdefg'
a_list = list(a)
a_list[1] = 'X'
a = ''.join(a_list)
a

'aXcdefg'

immutable obj: int, float, bool, str, tuple, unicode
mutable obj: list, set, dict

**List vs. tuple**

Indicate the difference with code notation

(list -> mutable;
tuple -> immutable)

In [6]:
l = [1, 2, 3, 'four', (1,2,'five')]
t = (1, 2, 3, 'five', [1,2,'six'])

l[2] = 'three'
print(l)

# ERROR
#t[2] = 'three'
#print(t)

[1, 2, 'three', 'four', (1, 2, 'five')]

**Multidimensional list**

Cabinet modeling:
3 drawers, 3 compartments, put 'pen' in the middle compartment of the middle drawer

In [7]:
cabinet = [[[],[],[]],[[],[],[]],[[],[],[]]]
cabinet[1][1] = 'pen'

for i in cabinet:
    print(i)

[[], [], []]
[[], 'pen', []]
[[], [], []]

**Nested data structures**

print str 'hidden'

In [8]:
l = [[32, True], [3], [('abc', 3), {'a':8, 'x': (False, 'hidden', 2)}]]
print(l[2][1]['x'][1])

hidden

**What structure would you use to register names and numbers of clients?**
123456789 - Joe Black
122333444 - Regina Phalange
999555666 - Joe Black

I will use dictionary because it have unique key (telefon number) and not unique value (name). Dictionary will also be fast with finding value -> time to look up dictionary item is 1 (dictionary and set is hash table).

In [9]:
tel_nums = {
    123456789:'Joe Black',
    122333444:'Regina Phalange',
    999555666:'Joe Black'
}

In [10]:
tel_nums[123456789]

'Joe Black'

**Which object cannot be a key in a dictionary?**

A = {1: 1, 2: 4, 3: 9}

B = {'imie': 'Anna', 'nazwisko': 'Kowalska'}

C = {[4, 5]: [16, 25]}   

D = {(4, 5): [16, 25]}

E = {{1:2}: 'jeden_dwa'}


Answer: C and E. 
A list an a dictionary cannot be a key because it is immutable

**For a string, create a dictionary that stores information on how many times a given letter has occurred**

In [11]:
x = 'rosesareredvioletsarebluesugarissweetandsoareyou'

d = {}
for i in x:
    if i not in d.keys(): #or just d
        d[i]=1
    else:
        d[i]+=1
d

{'r': 6,
 'o': 4,
 's': 7,
 'e': 9,
 'a': 5,
 'd': 2,
 'v': 1,
 'i': 2,
 'l': 2,
 't': 2,
 'b': 1,
 'u': 3,
 'g': 1,
 'w': 1,
 'n': 1,
 'y': 1}

**For the dictionary from the last task, print True if some letter appears four times.**

In [12]:
print(list(d.values()))

print(True if 4 in d.values() else False)

[6, 4, 7, 9, 5, 2, 1, 2, 2, 2, 1, 3, 1, 1, 1, 1]
True

In [13]:
pensje = {'ksiegowa': 5000, 'kierowca': 4500, 'recepcjonistka': 4000}

sum(pensje.values())

13500

**Create new list that is an inverted list l**

In [14]:
l = ['Python', 'Java', 'C#', 'C++']

In [15]:
l_new = l[::-1]
l_new

['C++', 'C#', 'Java', 'Python']

In [16]:
l_new2 = list(reversed(l))
l_new2

['C++', 'C#', 'Java', 'Python']

In [17]:
l_new3 = []
for i in l:
    l_new3.insert(0,i)
l_new3

['C++', 'C#', 'Java', 'Python']

**write a function that checks whether a given word is a palindrome**

In [18]:
def palindrom(word):
    return True if word == word[::-1] else False

In [19]:
palindrom('kayak')

True

In [20]:
palindrom('anconda')

False

In [21]:
def palindrom2(word):
    start = 0
    end = len(word)-1
    while start <= end:
        if word[start] != word[end]:
            return False
        else:
            start += 1
            end -= 1
    return True

In [22]:
palindrom2('kayak')

True

In [23]:
palindrom2('anconda')

False

**Create two lists (one line of code):
1st a list containing numbers 1-10
2nd a list containing every third number in the range 100-1**

In [24]:
a = list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
b = list(range(100,0,-3))
b

[100,
 97,
 94,
 91,
 88,
 85,
 82,
 79,
 76,
 73,
 70,
 67,
 64,
 61,
 58,
 55,
 52,
 49,
 46,
 43,
 40,
 37,
 34,
 31,
 28,
 25,
 22,
 19,
 16,
 13,
 10,
 7,
 4,
 1]

In [26]:
c = list(range(-5,6,2))
c

[-5, -3, -1, 1, 3, 5]

**Print the first 5 items from list L**

In [27]:
L = [11, 22, 33, 44, 55, 66, 77, 88, 99, 1010]
print(L[0:5])

[11, 22, 33, 44, 55]

**Print every second letter of the string S, starting with the last one and going back to the beginning**

In [28]:
S = '.pnjo^het9y2Pj ie4k i$l. jI'
print(''.join(list(S)[-1::-2]))

I like Python.

**Write a function that checks a string starting by 'python' and ending by '.py'**

In [29]:
def check_if_python(file_name):
    if file_name[:6]=='python' and file_name[-2:]=='py':
        return True
    else:
        return False

In [30]:
check_if_python('python_my_code.py')

True

In [31]:
check_if_python('python_notes.txt')

False

**Print list 'names' with next numbers before names**

In [32]:
names = ['Sophie', 'John', 'Bob', 'Anne', 'Sara']

for num, name in enumerate(names,1):
    print(num, name)

1 Sophie
2 John
3 Bob
4 Anne
5 Sara

In [33]:
names = ['Sophie', 'John', 'Bob', 'Anne', 'Sara']

num = 1
for name in names:
    print(num, name)
    num+=1

1 Sophie
2 John
3 Bob
4 Anne
5 Sara

**Find the difference between the largest and smallest value in the list below**

In [34]:
a = [3,5,6,8,-3,2,-10,4,11]

In [35]:
max(a)-min(a)

21

In [36]:
A = sorted(a) #high computational complexity, worst solve
A[-1]-A[0]

21

**Write a function that takes two numbers and checks if the first is divisible by the second**

In [37]:
def divisible(a,b):
    return(a%b==0)

    
print(divisible(10,5))
print(divisible(10,3))

True
False

**Explain how the following function works and where the results come from**

In [38]:
def add_to_list(n, l=[]):
    l.append(n)
    print(l)
    
add_to_list(1) # adding a new element(1) to default list l=[]
add_to_list(2,[4,5]) # adding a new number (2) to the list [4,5]
add_to_list(3) # adding a new number (3) to default list l

[1]
[4, 5, 2]
[1, 3]

The l parameter means that the function has a default parameter (list) and we can add elements to it or we can use our own list by entering the second parameter. Default function arguments are created only once when defining a function, all changes are added on a regular basis.

**What the following list and dict comprehension will print?**

In [39]:
L = [1,2,3,4,5,6]

L1 = [x for x in range(5)] #[0,1,2,3,4]
L2 = [x**2 for x in L]      #[1,4,9,16,25,36]
L3 = [x for x in L if x % 2 == 0]   #[2,4,6]
L4 = ['Even' if x%2 == 0 else 'Odd' for x in range(5)] #[Even','Odd','Even','Odd','Even']
L5 = [(x, x+10) for x in L]    #[(1,11),(2,12),(3,13),(4,14),(5,15),(6,16)]
D1 = {x:x % 2 == 0 for x in L} #{1:False, 2:True, 3:False, 4:True, 5:False, 6:True}

In [40]:
print(L1)
print(L2)
print(L3)
print(L4)
print(L5)
print(D1)

[0, 1, 2, 3, 4]
[1, 4, 9, 16, 25, 36]
[2, 4, 6]
['Even', 'Odd', 'Even', 'Odd', 'Even']
[(1, 11), (2, 12), (3, 13), (4, 14), (5, 15), (6, 16)]
{1: False, 2: True, 3: False, 4: True, 5: False, 6: True}

**What the following lines of code will print?**

In [41]:
print(1==True) #True -> == - value comparison operator
print(1 is True) #False -> 'is' - identity comparison operator

True
False

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-41-eb51ffdf208e>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(1 is True) #False -> 'is' - identity comparison operator

In [42]:
print(id(1), id(True)) # different identity operators

140716174419760 140716174137168

In [43]:
print(False is False is False) # -> (False is False) and (False is False)  -> result: True
# the string comparison is broken down into two smaller ones

True

**What is lambda?**

Using lambda is a short and simple way to write a one-line function in Python. It can be useful when we only use a function once and don't need to name it. Example:

In [44]:
name_age = [('Anne',35),('John',43),('Florence',67),('Grace',23)]
name_age_sort = sorted(name_age, key = lambda x: x[1])
name_age_sort

[('Grace', 23), ('Anne', 35), ('John', 43), ('Florence', 67)]

**What happened and why? (global and local variables)**

In [45]:
x = 10  # global variable

def f():
    x=11  # local variable, only exists when we call the function
          # we can use 'global x'
    print(x)
    
f()
print(x)

11
10

**Work with file**
- **create file 'my_file.txt'**
- **insert into the file (in a new line) numbers from 1 to 100**
- **open file and save as list 'from_file'**

In [46]:
with open('my_file.txt', 'w', encoding='utf-8') as f:
    for n in range(1,101):
        f.write(str(n) + '\n')

In [47]:
with open('my_file.txt', 'r', encoding='utf-8') as f:
    from_file = f.readlines()

In [48]:
print(from_file)

['1\n', '2\n', '3\n', '4\n', '5\n', '6\n', '7\n', '8\n', '9\n', '10\n', '11\n', '12\n', '13\n', '14\n', '15\n', '16\n', '17\n', '18\n', '19\n', '20\n', '21\n', '22\n', '23\n', '24\n', '25\n', '26\n', '27\n', '28\n', '29\n', '30\n', '31\n', '32\n', '33\n', '34\n', '35\n', '36\n', '37\n', '38\n', '39\n', '40\n', '41\n', '42\n', '43\n', '44\n', '45\n', '46\n', '47\n', '48\n', '49\n', '50\n', '51\n', '52\n', '53\n', '54\n', '55\n', '56\n', '57\n', '58\n', '59\n', '60\n', '61\n', '62\n', '63\n', '64\n', '65\n', '66\n', '67\n', '68\n', '69\n', '70\n', '71\n', '72\n', '73\n', '74\n', '75\n', '76\n', '77\n', '78\n', '79\n', '80\n', '81\n', '82\n', '83\n', '84\n', '85\n', '86\n', '87\n', '88\n', '89\n', '90\n', '91\n', '92\n', '93\n', '94\n', '95\n', '96\n', '97\n', '98\n', '99\n', '100\n']

**The volume of a prism is calculated by the formula: V = a * b * h
a and b are the lengths of the sides of its base, and h is the height.
The following code finds the largest prism we can create**

**- How many operations will be performed as a result of running this code?**

**- How could this task be solved more efficiently?**

In [49]:
import random

In [50]:
A = [random.randint(0,100) for i in range(5)]
B = [random.randint(0,100) for i in range(5)]
H = [random.randint(0,100) for i in range(5)]

In [51]:
print(A)
print(B)
print(H)

[75, 55, 48, 90, 56]
[57, 52, 70, 18, 33]
[12, 66, 92, 32, 42]

In [52]:
max_v = 0
for a in A:
    for b in B:
        for h in H:
            if a * b * h > max_v:
                max_v = a * b * h
                
print(max_v)    # 5*5*5 -> 125 operations

579600

In [53]:
v = max(A)*max(B)*max(H)
print(v) # 5+5+5 -> 15 operations

579600

**What is the value of the following logical sentence?**

In [54]:
print(1 is not True in [1,2,3])  # (1 is not True) and (True in [1,2,3]) -> True and True -> True

True

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-54-bf3c408daf6e>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print(1 is not True in [1,2,3])  # (1 is not True) and (True in [1,2,3]) -> True and True -> True

**You get a list of names that customers have entered into a form on the website.**
- use the filter() function to remove all non-string entries from it
- use the map() function to convert the names so that they are all spelled correctly with capital letters only at the beginning of the first and last name.

In [55]:
names = ['John Smith', 13, 'BOB RUDE', 'aLex BLACK', ['not','your', 'business'], 'ANNE snake']

In [56]:
names_clear = list(filter(lambda x: type(x) is str, names))
names_clear

['John Smith', 'BOB RUDE', 'aLex BLACK', 'ANNE snake']

In [57]:
names_correct = list(map(lambda x: x.lower().title(), names_clear))
names_correct

['John Smith', 'Bob Rude', 'Alex Black', 'Anne Snake']

**Create a decorator that will add three stars before and after the effect of the decorated function**

In [58]:
def add_stars(function):
    def decorated_function():
        print('***')
        function()
        print('***')
    return decorated_function

In [59]:
@add_stars
def f():
    print('Hello Word')

In [60]:
f()

***
Hello Word
***