In [1]:
import sys
print(sys.version.split()[0])

3.8.8

In [2]:
def is_nested(array):
    if len(array) == 0:
        return False
    return all(isinstance(i, list) for i in array)
    
print(is_nested([[3, 4]]))
print(is_nested([]))
print(is_nested([[3, 4], 0, [2, 1]]))
print(is_nested([[3, 4], [2, 1]]))

True
False
False
True

In [3]:
def is_all_equal(array):
    return all(i == array[0] for i in array) # or return len(set(iterator)) <= 1

print(is_all_equal([4, 5, 7]))
print(is_all_equal([4, 4, 4]))

False
True

In [4]:
def is_nested(array):
    if len(array) == 0:
        return False
    return all(isinstance(row, list) for row in array)

def is_all_equal(iterator):
    return len(set(iterator)) <= 1
    
def is_valid_array(array):
    if is_nested(array):
        return all(len(i) == len(array[0]) for i in array)
    
# or    if is_all_equal(len(row) for row in array):
#              return True
#    return False
    
print(is_valid_array([[3], [4]]))
print(is_valid_array([[3, 4], [4, 5]]))
print(is_valid_array([[3, 4, 5], [4, 5]]))

True
True
False

In [5]:
def swap_elements(array):
    (array[0], array[-1]) = (array[-1], array[0])
    return array

print(swap_elements([4, 5, 6, 7]))
print(swap_elements([4, 5]))

[7, 5, 6, 4]
[5, 4]

In [6]:
def swap_elements2(array, i1, i2):
    (array[i1], array[i2]) = (array[i2], array[i1])
    return array

print(swap_elements2([4, 5, 6, 7, 1], 1, 2))
print(swap_elements2(['A', 'B', 'C', 'D', 'E'], 4, 2))

[4, 6, 5, 7, 1]
['A', 'B', 'E', 'D', 'C']

In [7]:
def reverse_words(string):
    return ' '.join(string.split()[::-1])

print(reverse_words('python is the best'))
print(reverse_words('you should learn python language'))

best the is python
language python learn should you

In [8]:
def remove_common_elements(list1, list2):
    for i in list1[:]:
        if i in list2:
            list1.remove(i)
            list2.remove(i)
    return (list1, list2)

print(remove_common_elements([4, 3, 5, 2], [3, 8]))
print(remove_common_elements([4, 3, 5, 2], [1, 8]))
print(remove_common_elements([4, 3, 5, 2], [1, 3, 5, 8]))

([4, 5, 2], [8])
([4, 3, 5, 2], [1, 8])
([4, 2], [1, 8])

In [9]:
def get_indices(l, element):
    return [i for i in range(0, len(l)) if l[i] == element]

print(get_indices([4, 3, 5, 2, 3, 0, 2], 2))
print(get_indices(['Q', 'DQ', 'DQ', 'DQ', 'Q', 'Q'], 'Q'))

[3, 6]
[0, 4, 5]

In [10]:
def get_indices_str(l):
    return [i for i in range(0, len(l)) if type(l[i]) == str]

print(get_indices_str(['Q', 34, 'DQ', True]))
print(get_indices_str(['https://www.e-smartdata.org', 'response', 202, 'code']))
print(get_indices_str([4, 3, 5, 2]))

[0, 2]
[0, 1, 3]
[]

In [11]:
from collections import defaultdict

def convert(list_of_dicts):
    result = defaultdict(list)
    for dictionary in list_of_dicts:
        for key, value in dictionary.items():
            result[key].append(value)
    return result

'''
def convert(data):
    result = {}
    keys = data[0].keys()
    for key in keys:
        result[key] = []
    for item in data:
        for key in keys:
            result[key].append(item[key])
    return result
'''
    
data = [
    {'user': 'joe', 'main_technology': 'python'},
    {'user': 'tom', 'main_technology': 'c/cpp'},
    {'user': 'michael', 'main_technology': 'cloud'},
    {'user': 'bob', 'main_technology': 'php'},
    {'user': 'lil', 'main_technology': 'html'},
    {'user': 'alice', 'main_technology': 'sql'},
]
convert(data)

defaultdict(list,
            {'user': ['joe', 'tom', 'michael', 'bob', 'lil', 'alice'],
             'main_technology': ['python',
              'c/cpp',
              'cloud',
              'php',
              'html',
              'sql']})

In [12]:
def concat(l1, l2):
    if not len(l1) == len(l2):
        raise ValueError('The given lists are not of the same length.')

    new_list = []
    for i in range(0, len(l1)):
        new_list.append(l1[i] + l2[i])
    return new_list

print(concat([[6, 2], [6, 3, 7], [3, 5]], [[3], [4, 2], [0, 5, 1, 5]]))

[[6, 2, 3], [6, 3, 7, 4, 2], [3, 5, 0, 5, 1, 5]]

In [13]:
def sort_by_row(lists):
    return [sorted(l) for l in lists]
    

print(sort_by_row([[4, 7, 2, 7, 9, 1], [6, 3, 2, 8, 8], [9, 7, 3, 2, 7]]))

[[1, 2, 4, 7, 7, 9], [2, 3, 6, 8, 8], [2, 3, 7, 7, 9]]

In [14]:
def top3(lists):
    return [sorted(l, reverse=True)[0:3] for l in lists]
        
print(top3([[4, 7, 2, 7, 9, 1, 3], [6, 3, 2, 8, 8, 7], [9, 7, 3, 2, 10, 2]]))

[[9, 7, 7], [8, 8, 7], [10, 9, 7]]

In [15]:
def filter_users(dicts):
    return [d for d in dicts if 'level' in d]
    
user_data = [
    {'user_id': '3546', 'level': 64, 'is_active': True},
    {'user_id': '3467', 'level': 34, 'is_active': False},
    {'user_id': '6673', 'is_active': True},
    {'user_id': '8454', 'level': 1, 'is_active': False},
    {'user_id': '3757', 'level': 63, 'is_active': True},
    {'user_id': '1668', 'is_active': False},
]
for d in filter_users(user_data):
    print(d)

{'user_id': '3546', 'level': 64, 'is_active': True}
{'user_id': '3467', 'level': 34, 'is_active': False}
{'user_id': '8454', 'level': 1, 'is_active': False}
{'user_id': '3757', 'level': 63, 'is_active': True}

In [16]:
def remove_repetitive(nr_list):
    return [num 
            for num in nr_list 
            if len(set(str(num))) == len(str(num))
           ]

remove_repetitive([4543, 111, 357, 5675, 2567, 8632])

[357, 2567, 8632]

In [17]:
def calculate(numbers, k=5):
    return [
        numbers[i] 
        for i in range(1, len(numbers)-1) 
        if abs((numbers[i-1] - numbers[i])) >= k 
        and abs((numbers[i+1] - numbers[i])) >= k 
    ]

print(calculate([2, 6, 2, 8, 1, 3, 10, 3]))
print(calculate([1, 6, 5, 2, 8, 11, 3, 10, 3], 3))

[8, 10]
[2, 8, 11, 3, 10]

In [18]:
from itertools import permutations

def calculate2(string):
    words = string.split()
    permutes = permutations(words)
    return [' '.join(i) for i in permutes]

calculate2('python is the')

['python is the',
 'python the is',
 'is python the',
 'is the python',
 'the python is',
 'the is python']

In [19]:
def create_mask(list1, list2):
    return [1 if list1[i] == list2[i] else 0 for i in range(0, len(list1))]
    # or return [1 if i ==j else 0 for i, j in zip(list1, list2)]

print(create_mask([4, 5, 7, 2, 8, 10], [3, 5, 4, 2, 8, 12]))
print(create_mask([2, 4, 1], [2, 3, 1]))

[0, 1, 0, 1, 1, 0]
[1, 0, 1]

In [20]:
def distance(list1, list2):
    return max([abs(i-j) for i, j in zip(list1, list2)])

print(distance([3, 4, 6, 2], [2, 1, 9, 14]))
print(distance([3, 4, 6, 0, 1], [2, 1, 9, 7, 4]))

12
7

In [21]:
def calc(l):
    return [i * 2 if i % 2 == 1 else i for i in l]
    
print(calc([4, 5, 6, 7]))
print(calc([9, 6, 3, 7, 11, 31, 40]))

[4, 10, 6, 14]
[18, 6, 6, 14, 22, 62, 40]

In [22]:
def sort_tuple(tuples):
    return(sorted(tuples, key = lambda t: t[1]))

print(sort_tuple([('mike', 34), ('bob', 41), ('john', 36), ('leo', 28)]))

[('leo', 28), ('mike', 34), ('john', 36), ('bob', 41)]

In [23]:
def replace_neg(nr_list):
    return [0 if i < 0 else i for i in nr_list]

print(replace_neg([4, -5, 2, 0, -4]))
print(replace_neg([-10, -5, 8, -3, 7, -2]))

[4, 0, 2, 0, 0]
[0, 0, 8, 0, 7, 0]

In [24]:
def count(l):
    positive, negative = 0, 0
    for i in l:
        if i >= 0:
            positive += 1
        else:
            negative += 1
    return positive, negative

print(count([4, 5, 6]))
print(count([5, 2, -1, -5, -2]))

(3, 0)
(2, 3)

In [25]:
def preprocess(string):
    return int(''.join([i for i in string if i.isdigit()]))
    
print(preprocess('$ 975,400'))

975400

In [26]:
def make_hashtags(words):
    return '#' + ' #'.join(words)
    
print(make_hashtags(['gym', 'sport', 'fit']))

#gym #sport #fit

In [27]:
def convert(text):
    mapping = {
        '0': 'zero',
        '1': 'one',
        '2': 'two',
        '3': 'three',
        '4': 'four',
        '5': 'five',
        '6': 'six',
        '7': 'seven',
        '8': 'eight',
        '9': 'nine',
        }
    words = text.split()
    digits = mapping.keys()
    for (i, word) in enumerate(words):
        if word in digits:
            words[i] = mapping[word]
    return ' '.join(words)

print(convert('you need to have 2 tickets'))

you need to have two tickets

In [28]:
def snake_to_pascal(string):
    words = string.split('_')
    return ''.join([i.capitalize() for i in words])
# or return string.replace('_', ' ').title().replace(' ', '')

snake_to_pascal('some_important_function')

'SomeImportantFunction'

In [29]:
def snake_to_camel(string):
    pascal = string.replace('_',' ').title().replace(' ','')
    return string[0].lower() + pascal[1:]

snake_to_camel('some_important_function')

'someImportantFunction'

In [30]:
def preprocess(files):
    return[i for i in files if i[-3:] == 'png'] # or endswith('png')
    
preprocess(['img546.png', 'img243.png', 'img247.txt', 'img2456.pdf'])

['img546.png', 'img243.png']

In [31]:
def preprocess2(tuples):
    return[t for t in tuples if len(t) > 1]
    
preprocess([(4, 5), (4, ), (5, 2), (5, 3, 2), (5, )])

[]

In [32]:
def preprocess3(tuples):
    return[
        t 
        for t in tuples 
        if not all(i == None for i in t)
    ]
    
preprocess([(4, 5), (4,), (5, None), (5, 3, 2), (None,)])

[]

In [33]:
def flatten(l):
    return [i for flat in l for i in flat]

print(flatten(([5], [6], [2], [3])))
print(flatten(([5], [6], [2, 4, 2], [3, 4])))

[5, 6, 2, 3]
[5, 6, 2, 4, 2, 3, 4]

In [34]:
def flatten2(t):
    return ' '.join(['#' + i for hashtags in t for i in hashtags])

flatten2((['apple'], ['gym', 'fit'], ['movie', 'netflix']))

'#apple #gym #fit #movie #netflix'

In [35]:
from statistics import mean 


def calculate_temp(data):
    return min(data['temp']), max(data['temp']), mean(data['temp'])

data = {
    'device_id': '3057304985',
    'temp': [23.5, 22.0, 23.1, 25.5, 24.1],
    'city': 'Warsaw',
    'country': 'Poland'
}
calculate_temp(data)

(22.0, 25.5, 23.64)

In [36]:
def convert_to_neasted(data):
    return [[i, v] for i, v in data.items()]

data = {
    'device_id': '3057304985',
    'temp': [23.5, 22.0, 23.1, 25.5, 24.1],
    'city': 'Warsaw',
    'country': 'Poland'
}

convert_to_neasted(data)

[['device_id', '3057304985'],
 ['temp', [23.5, 22.0, 23.1, 25.5, 24.1]],
 ['city', 'Warsaw'],
 ['country', 'Poland']]

In [37]:
def to_csv(data):
    return 'temp,' + ','.join([str(i) for i in data['temp']])

data = {
    'device_id': '3057304985',
    'temp': [23.5, 22.0, 23.1, 25.5, 24.1],
    'city': 'Warsaw',
    'country': 'Poland'
}

to_csv(data)

'temp,23.5,22.0,23.1,25.5,24.1'

In [38]:
def acronym(full_name):
    return ''.join(i[0] for i in full_name.split()).upper()

acronym('object oriented programming')

'OOP'

In [39]:
def collatz(n):
    num_of_steps = 0
    while n != 1:
        if n % 2 == 0:
            n = n/2
        else:
            n = n * 3 + 1
        num_of_steps+=1
    return num_of_steps
    
print(collatz(8))
print(collatz(14))

3
17

In [40]:
def get_chunks(text, num):
    chunks = []
    for i in range(0, len(text), num):
        chunk = text[i:i+num]
        chunks.append(chunk)
    return chunks

print(get_chunks('python programming', 3))

['pyt', 'hon', ' pr', 'ogr', 'amm', 'ing']

In [41]:
def is_iterable(x):
    try:
        iter(x)
    except TypeError:
        return False
    else:
        return True

print(is_iterable(3.14))
print(is_iterable('python'))

False
True

In [42]:
def truncate(heading, length=30):
    if len(heading) <= length:
        return heading
    return heading[:length-3] + '...'

print(truncate('Python is a programming language that lets you work quickly.'))
print(truncate('Python programming.'))

Python is a programming lan...
Python programming.

In [43]:
from math import factorial

def pascal_triangle(row):
    result = []
    for i in range(row + 1):
        factor = factorial(row) // (factorial(i) * factorial(row-i))
        result.append(factor)
    return result
''' 
or:
    result = [1]
    if row == 1:  return result

    for i in range(row):
        for j in range(i, 0, -1):
            result[j] = result[j] + result[j-1]
        result.append(1)
    return result
'''

pascal_triangle(3)

[1, 3, 3, 1]

In [44]:
def transform(row):
    headers = 'open,high,low,close'.split(',')
    values = row.split(',')
    return {key: float(value) for key, value in zip(headers, values)}
    
transform('45.3,46.1,45.3,45.4')

{'open': 45.3, 'high': 46.1, 'low': 45.3, 'close': 45.4}

In [45]:
def get_headers():
    with open('2022_forbes_billionaires.csv', 'r') as file:
        headers = file.readline().strip().split(',')
        return [header.lower().replace(' ', '_') for header in headers]

get_headers()

['rank', 'name', 'networth', 'age', 'country', 'source', 'industry']

In [46]:
def preprocess():
    with open('2022_forbes_billionaires.csv', 'r') as file:
        content = [row.strip().split(',') for row in file.readlines()]
        result = [[item.strip() for item in row] for row in content]
    return result

preprocess()

[['rank', 'name', 'networth', 'age', 'country', 'source', 'industry'],
 ['1',
  'Elon Musk',
  '$219 B',
  '50',
  'United States',
  '"Tesla',
  'SpaceX"',
  'Automotive'],
 ['2', 'Jeff Bezos', '$171 B', '58', 'United States', 'Amazon', 'Technology'],
 ['3',
  'Bernard Arnault & family',
  '$158 B',
  '73',
  'France',
  'LVMH',
  'Fashion & Retail'],
 ['4',
  'Bill Gates',
  '$129 B',
  '66',
  'United States',
  'Microsoft',
  'Technology'],
 ['5',
  'Warren Buffett',
  '$118 B',
  '91',
  'United States',
  'Berkshire Hathaway',
  'Finance & Investments'],
 ['6', 'Larry Page', '$111 B', '49', 'United States', 'Google', 'Technology'],
 ['7', 'Sergey Brin', '$107 B', '48', 'United States', 'Google', 'Technology'],
 ['8',
  'Larry Ellison',
  '$106 B',
  '77',
  'United States',
  'software',
  'Technology'],
 ['9',
  'Steve Ballmer',
  '$91.4 B',
  '66',
  'United States',
  'Microsoft',
  'Technology'],
 ['10',
  'Mukesh Ambani',
  '$90.7 B',
  '64',
  'India',
  'diversified',
  'Diversified'],
 ['11',
  'Gautam Adani & family',
  '$90 B',
  '59',
  'India',
  '"infrastructure',
  'commodities"',
  'Diversified'],
 ['12',
  'Michael Bloomberg',
  '$82 B',
  '80',
  'United States',
  'Bloomberg LP',
  'Media & Entertainment'],
 ['13',
  'Carlos Slim Helu & family',
  '$81.2 B',
  '82',
  'Mexico',
  'telecom',
  'Telecom'],
 ['14',
  'Francoise Bettencourt Meyers & family',
  '$74.8 B',
  '68',
  'France',
  "L'OrÃ©al",
  'Fashion & Retail'],
 ['15',
  'Mark Zuckerberg',
  '$67.3 B',
  '37',
  'United States',
  'Facebook',
  'Technology'],
 ['16',
  'Jim Walton',
  '$66.2 B',
  '73',
  'United States',
  'Walmart',
  'Fashion & Retail'],
 ['17',
  'Zhong Shanshan',
  '$65.7 B',
  '67',
  'China',
  '"beverages',
  'pharmaceuticals"',
  'Food & Beverage'],
 ['18',
  'Alice Walton',
  '$65.3 B',
  '72',
  'United States',
  'Walmart',
  'Fashion & Retail'],
 ['19',
  'Rob Walton',
  '$65 B',
  '77',
  'United States',
  'Walmart',
  'Fashion & Retail'],
 ['19',
  'Changpeng Zhao',
  '$65 B',
  '44',
  'Canada',
  'cryptocurrency exchange',
  'Finance & Investments'],
 ['21',
  'Charles Koch',
  '$60 B',
  '86',
  'United States',
  'Koch Industries',
  'Diversified']]

In [47]:
def get_unique_countries():
    data = preprocess()
    countries = sorted(set([i[4] for i in data[1:]]))
    return countries

get_unique_countries()

['Canada', 'China', 'France', 'India', 'Mexico', 'United States']

In [48]:
def calculate_mean_age():
    data = preprocess()
    ages = [int(i[3]) for i in data[1:]]
    mean_age = round(mean(ages))
    return mean_age

calculate_mean_age()

66

In [49]:
def industry_top3():
    data = preprocess()
    industries = [i[-1] for i in data[1:]]
    industries_counted = [(i,industries.count(i)) for i in set(industries)]
    industries_counted.sort(key = lambda x: x[1], reverse = True)
    return industries_counted[:3]

industry_top3()

[('Technology', 7), ('Fashion & Retail', 5), ('Diversified', 3)]

In [50]:
def all_technology():
    data = preprocess()
    names = [i[1] for i in data[1:] if i[6] == 'Technology']
    return names

all_technology()

['Jeff Bezos',
 'Bill Gates',
 'Larry Page',
 'Sergey Brin',
 'Larry Ellison',
 'Steve Ballmer',
 'Mark Zuckerberg']

In [51]:
def maximum(x, y):
    if x >= y:
        return x
    else:
        return y

maximum(2,-4)

2

In [52]:
def maximum3(x, y, z):
    if x >= y and x >= z:
        return x
    if y >= z:
        return y
    else:
        return z
        
maximum3(24, 14, 6)

24

In [53]:
def multi(l):
    result = 1
    for i in l:
        result = result * i
    return result
    
multi((-4, 6, 2))

-48

In [54]:
def map_longest(words):
    return max([len(word) for word in words])

map_longest(['python', 'skopkoql'])

8

In [55]:
def filter_ge_6(words):
    return [word for word in words if len(word) >= 6]

filter_ge_6(['programming', 'python', 'java', 'sql'])

['programming', 'python']

In [56]:
def factorial(x):
    result = 1
    for i in range(1, x+1):
        result = result * i
    return result

factorial(6)

720

In [57]:
def count_str(l):
    return len([i for i in l if isinstance(i, str)])

count_str(['p', 2, 4.3, None])

1

In [58]:
def count_str_min(l):
    result = 0
    for i in l:
        if isinstance(i, str) and len(i) > 2:
            result += 1
    return result

count_str_min([1, '#hello', '', 'python', 'go'])

2

In [59]:
def remove_duplicates(items):
    return list(set(items))

remove_duplicates([1, 5, 3, 2, 2, 4, 2, 4])

[1, 2, 3, 4, 5]

In [60]:
def is_distinct(items):
    return len(items) == len(set(items))

print(is_distinct([1, 2, 3]))
print(is_distinct([1, 2, 3, 3]))

True
False

In [61]:
def is_palindrome(word):
    return word == word[::-1]

is_palindrome('kayak')

True

In [62]:
def sort_list(items):
    return sorted(items, key = lambda i: i[1])

sort_list([(1, 3), (4, 1), (4, 2), (0, 7)])

[(4, 1), (4, 2), (1, 3), (0, 7)]

In [63]:
y_true = [0, 0, 1, 1, 0, 1, 0]
y_pred = [0, 0, 1, 0, 0, 1, 0]

def accuracy(y_true, y_pred):
    result = 0
    for i, j in zip(y_true, y_pred):
        if i == j:
            result+=1
    return round(result/len(y_true), 4)

print(accuracy(y_true, y_pred))

0.8571

In [64]:
y_true = [10, 10.5, 11.2, 10.4]
y_pred = [10.2, 10.4, 10.8, 11.0]

def mae(y_true, y_pred):
    result = 0
    for i, j in zip(y_true, y_pred):
        result += abs(j - i)
    return round(result / len(y_true), 3)
        
mae(y_true, y_pred)

0.325

In [65]:
y_true = [10, 10.5, 11.2, 10.4]
y_pred = [10.2, 10.4, 10.8, 11.0]

def mse(y_true, y_pred):
    result = 0
    for i, j in zip(y_true, y_pred):
        result += (j - i)**2
    return round(result / len(y_true), 3)

mse(y_true, y_pred)

0.142

In [66]:
def relu(x):
	return max(0, x)

In [67]:
items = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

def flatten(items):
    return [i for row in items for i in row]

flatten(items)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
def transfer_zeros(items):
    for i in items:
        if i == 0:
            items.remove(0)
            items.append(0)
    return items

transfer_zeros([3, 4, 0, 2, 0, 5, 1, 6, 2])

[3, 4, 2, 5, 1, 6, 2, 0, 0]

In [69]:
import math 

def euclidean_distance(x, y):
    result = 0
    for i, j in zip(x, y):
        result += (j - i)**2
    return math.sqrt(result)

euclidean_distance([0, 3], [4, 0])

5.0

In [70]:
def arange(start, stop, step=1):
    l = []
    for i in range(start, stop, step):
        l.append(i)
    return l

print(arange(0, 10, 2))
print(arange(0, 10))

[0, 2, 4, 6, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
l1 = [[1], [2]]
l2 = [[3], [4]]

def concat(l1, l2):
    result = [[i[0], j[0]] for i, j in zip(l1, l2)]
    return result

concat(l1, l2)

[[1, 3], [2, 4]]

In [72]:
def identity(n):
    result = []
    for i in range(0, n):
        l = [0 for i in range(n)]
        l[i] = 1
        result.append(l)
    return result
        
identity(3)

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [73]:
def fill_value(height, width, value):
    result = [[value] * width for i in range(height)]
    return result

print(fill_value(4, 2, 'a'))
print(fill_value(height=2, width=3, value=255))

[['a', 'a'], ['a', 'a'], ['a', 'a'], ['a', 'a']]
[[255, 255, 255], [255, 255, 255]]

In [74]:
def trace(array):
    tr = 0
    for i in range(len(array)):
        tr += array[i][i]
    return tr

print(trace([[1, 2], [4, 2]]))
print(trace([[3, 4, 5], [5, 2, 1], [5, 7, 2]]))

3
7

In [75]:
def transpose(array):
    result = [[array[j][i] for j in range(len(array))] for i in range(len(array[0]))]
    return result

print(transpose([[1, 2, 3], [4, 5, 6]]))
print(transpose([[1, 2, 3, 4], [5, 6, 7, 8]]))

[[1, 4], [2, 5], [3, 6]]
[[1, 5], [2, 6], [3, 7], [4, 8]]

In [76]:
def max_prob(array):
    result = [[max(i)] for i in array]
    return result

max_prob([[0.3, 0.4, 0.2, 0.1], [0.0, 0.1, 0.7, 0.2], [0.0, 0.4, 0.3, 0.3]])

[[0.4], [0.7], [0.4]]

In [77]:
def detect_class(array):
    result = []
    for item in array:
        max_val = max(item)
        empty = [0] * len(item)
        for idx, val in enumerate(item):
            if val == max_val:
                empty[idx] = 1
                result.append(empty)
    return result

detect_class([[0.3, 0.4, 0.2, 0.1], [0.0, 0.1, 0.7, 0.2]])

[[0, 1, 0, 0], [0, 0, 1, 0]]

In [78]:
def dot_product(v, w):
    return sum(i * j for i, j in zip(v, w))

dot_product([1, 2], [5, 2])

9

In [79]:
def count_none(l):
    return sum(1 for i in l if i == None)
            
count_none([1, None, None, 5, None, 2])

3

In [80]:
def top_n(items, n):
    items.sort(reverse=True)
    return items[:n]
        
top_n([4, 5, 2, 9, 5, 2, 8, 2, 8, 10], 3)

[10, 9, 8]

In [81]:
from functools import partial

def mul(x, y):
    return x * y

double = partial(mul, y=2)
triple = partial(mul, y=3)

In [82]:
def power(x, y):
    return x ** y

square = partial(power, y=2)
cube = partial(power, y=3)

In [83]:
def fv(pv, r, n):
    for i in range(0, n):
        pv = pv * r + pv
    return round(pv, 2)

print(fv(1000, 0.04, 1))
print(fv(1000, 0.04, 2))
print(fv(1000, 0.03, 5))
print(fv(10000, 0.09, 10))

1040.0
1081.6
1159.27
23673.64

In [84]:
def fv(pv, rate, n, m=1):
    return round(pv * (1 + (rate / m)) ** (n * m), 2)
 
print(fv(1000, 0.04, 1))
print(fv(1000, 0.04, 1, 2))
print(fv(1000, 0.04, 1, 4))
print(fv(1000, 0.04, 1, 12))

1040.0
1040.4
1040.6
1040.74

In [85]:
def fv(rate, m, n, pv):
    return pv * (1 + (rate / m)) ** (n * m)
    
annual_acc_factor = partial(fv, n=1, pv=1)

print(annual_acc_factor(rate=0.04, m=1))
print(annual_acc_factor(rate=0.04, m=4))
print(annual_acc_factor(rate=0.06, m=12))

1.04
1.04060401
1.0616778118644983

In [86]:
def fv(rate, m, n, pv):
    return pv * (1 + (rate / m)) ** (n * m)

annual_acc_factor = partial(fv, n=1, pv=1)

annual_acc_factor_4 = partial(annual_acc_factor, m=4)
annual_acc_factor_12 = partial(annual_acc_factor, m=12)

print(annual_acc_factor_4(0.04))
print(annual_acc_factor_12(0.06))

1.04060401
1.0616778118644983

In [87]:
def stick(*args):
    return '#'.join([i for i in args if type(i) == str])

print(stick('sport', 'summer', 4, True))
print(stick(3, 5, 7))
print(stick(False, 'time', True, 'workout', [], 'gym'))

sport#summer

time#workout#gym

In [88]:
def display_info(company, **kwargs):
    print(f'Company name: {company}')
    if 'price' in kwargs.keys():
        print(f'Price: $ {kwargs["price"]}')
        
display_info(company='CD Projekt', price=100)

Company name: CD Projekt
Price: $ 100

In [89]:
def calculate():
    x = [i for i in range(0,100) if i%5 == 0 or i%7 ==0]
    return sum(x)
    
print(calculate())

1580

In [90]:
def calculate():
    a, b = 1, 1
    f = []
    while b < 1000000:
        c = a+b
        a = b
        b = c
        f.append(c)
    return sum(i for i in f if i%2==0)

print(calculate())

1089154